<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="personal blog web development ruby elixir clojure react">
    <meta name="author" content="bogdan agafonov">

    <title>eternal & void</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container" role="main">
      <div class="nav-panel row">
        <nav class="menu col-4">
          <%= render "user_menu.html", conn: @conn %>
        </nav>
        <nav class="menu col-4">
          <%= render "shared_menu.html", conn: @conn %>
        </nav>
        <nav class="menu col-4">
          <%= render "entrance_menu.html", conn: @conn %>
        </nav>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
